*
  box-sizing border-box

body
  margin 0
  text-align center
  & > *
    display inline
    text-align left

cb()
  clear both

square()
  width arguments[0]
  height arguments[0]

li
  list-style-type none

a
  text-decoration none
  color #3f51b5
  